.abbrevInfo {
  font-weight: bold;
}


#personalInfo p {
  line-height: 1.5;
  vertical-align: middle;
}

#personalInfo{
  text-align: center;
}

#contact-info{
  text-align: center;
}

.dim-underline{
  color: grey;
}

.bigger-underline{
  
}

.educationName {
  font-weight: bold;
}

.educationLocation{
  font-style: italic;
}

.educationDegreeName{
  font-style: italic;
}

.date{
  font-style: italic;
  font-weight: lighter;
}

.bulletPoint{
  color: #868686;
}

#programmingSkills .bulletPoint{
  font-size: 90%;
}

#contact-info-col{
  margin-top: 1.2rem;
}
