/*.container{
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
}*/

.abbrevInfo {
  font-weight: bold;
}


#personalInfo p {
  line-height: 1.5;
  vertical-align: middle;
}

#personalInfo{
  text-align: center;
}

#contact-info{
  text-align: center;
}

.dim-underline{
  color: grey;
}

.bigger-underline{
  border-top: 3px double #8c8b8b;
}

.individual-subsections{
  border-top: 1px dotted #8c8b8b;
  border-bottom: 1px dotted #fff;
}

.course-name{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

#qr-code-image{
  float: right;
  width: 15%;
  height: auto;
}

.educationName {
  font-weight: bold;
}

.educationLocation{
  font-style: italic;
}

.skill-heading{
  font-style: italic;
  text-align: center;
}

.educationDegreeName{
  font-style: italic;
}

.date{
  font-style: italic;
  font-weight: lighter;
}

.bulletPoint{
  color: #868686;
}

#programmingSkills .bulletPoint{
  font-size: 90%;
}

#contact-info-col{
  margin-top: 1.2rem;
}
